{% extends "core/base.html" %}

{% block title %}Bots Progress • theTowerStats{% endblock %}

{% block content %}
  {% include "core/components/upgradeable_entity_dashboard.html" with dashboard_kicker="Progress" dashboard_title="Bots" dashboard_note="Upgrades currently assume sufficient Medals. Costs are informational only." filter_form=filter_form entities=bots entity_badge="Bot" total_invested_label="Total Medals invested" unlock_cost_currency_label="Medals" unlock_action_value="unlock_bot" level_up_action_value="level_up_bot_param" show_activation=False %}
{% endblock %}

{% block extra_scripts %}
  {% include "core/components/upgradeable_entity_dashboard_scripts.html" %}
{% endblock %}
